
html, body {
 margin: 0;
 padding: 0;
}

body {
 box-sizing: border-box;
 background:linear-gradient(#010323, #010107);
 padding-top: 10px;
/*  border: 1px solid black;*/
}

#bannerDiv {
  overflow: hidden;
  width: 100%;
  height: 50px;
}

#bannerImg {
  width: 110%;
  position: relative;
  top: -50%;
}

.mainImg {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 400px;
  overflow: hidden;
  border: 8px solid #181a3d;
  border-radius: 10px;
}

.bText {
  position: relative;
  top: 10px;
  left: 0;
  margin: auto;
  color: white;
  text-align: center;
}

.bImg {
  position: relative;
  max-height: 200px;
  top: -100px;
  left: -50px;
  opacity: 0;
  z-index: 2;
}

.bImg:hover {
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.bBox {
  border: 4px solid #181a3d;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.bContainer {
  margin: auto;
  max-width: 400px;
  padding: auto;
}

a {
   text-decoration: none;
}

.pText {
   color:#ceb600;
   background: rgba(0,0,0,0);
   display: block;
   margin:auto;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 90%;
   max-width: 800px;
   padding: 6px;
   border: 4px solid #181a3d;
   border-radius: 5px;
   font-family: Georgia, serif;
   clear:both;
}

h1 {
   font-size: 50px;
   font: Georgia, serif;
   text-align: center;
   text-transform: uppercase;
   margin: auto;
   display: box;
}

.disclaimer {
  color: #002080;
  background: rgba(0,0,0,0);
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.tip {
  color: white;
}

#tooltip{
  position: absolute;
  display: inline-block;
  background: black;
  color: white;
  max-width: 200px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 8px;
  border: solid white 3px;
  border-radius: 5px;
  padding: 2px;
}
