
html, body {
 margin: 0;
 padding: 0;
}

body {
 box-sizing: border-box;
 background:linear-gradient(#010323, #010107);
 padding-top: 10px;
/*  border: 1px solid black;*/
}

.mainImg {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 400px;
  overflow: hidden;
  border: 8px solid #181a3d;
  border-radius: 10px;
}

.bBox>p {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 10px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  background: black;
  transition: opacity 0.5s;
  transition-timing-function: linear;
}

.bBox>p:hover {
  opacity: 0;
}

.bBox {
  border: 4px solid #181a3d;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  cursor: pointer;
  background: url('Assets/0(NoodleBar).jpg') no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.bContainer {
  margin: auto;
  max-width: 400px;
  padding: auto;
}

.pText {
   color:#ceb600;
   background: rgba(0,0,0,0);
   display: block;
   margin:auto;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 90%;
   max-width: 800px;
   padding: 6px;
   border: 4px solid #181a3d;
   border-radius: 5px;
   font-family: Georgia, serif;
   clear:both;
}

h1 {
   font-size: 50px;
   font: Georgia, serif;
   text-align: center;
   text-transform: uppercase;
   margin: auto;
   display: box;
}

.disclaimer {
  color: #002080;
  background: rgba(0,0,0,0);
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.tip {
  color: white;
  cursor: help;
}

#tooltip{
  position: absolute;
  display: inline-block;
  background: black;
  color: white;
  max-width: 200px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 8px;
  border: solid white 3px;
  border-radius: 5px;
  padding: 2px;
}

#bannerDiv {
  overflow: hidden;
  width: 100%;
  height: 2.5em;
  border-top: solid white 3px;
  border-bottom: solid white 1px;
  padding: 0;
  background: #010323;
}

#bannerDiv > p:hover {
  color: yellow;
  border-top: solid yellow 5px;
}

#bannerDiv > p {
  margin: 0.5em 0 0 0.5em;
  color: white;
  border-top: solid white 5px;
  display: inline-block;
  cursor: pointer;
}

html:-moz-full-screen #bannerDiv > #exitFullscreen{display: inline-block;}
html:-webkit-full-screen #bannerDiv > #exitFullscreen{display: inline-block;}
html:fullscreen #bannerDiv > #exitFullscreen{display: inline-block;}

#bannerDiv > #exitFullscreen{display:none;}

html:-moz-full-screen #fullscreen{display: none;}
html:-webkit-full-screen #fullscreen{display: none;}
html:fullscreen #fullscreen{display: none;}
