html, body {
 margin: 0;
 padding: 0;
}

body {
 box-sizing: border-box;
 background:linear-gradient(#010323, #010107);
 font-family: 'EB Garamond', serif;
/*  border: 1px solid red;*/
/* Kept the above around for fine tuning placement */
}

#main {
  background-position: 70% -100px;
  background-repeat: no-repeat;
  background-size: 140%;
  display: block;
  padding-top: 20px;
  text-align: center;
  -webkit-transition: background-position 0.1s linear; /* Safari */
  transition: background-position 0.1s linear;
  overflow: auto;
}

/* At some point I'll need to recalibrate this so it works across devices
for now, it works on my screen which is good enough! */
html:-moz-full-screen #main{min-height: 756px;}
html:-webkit-full-screen #main{min-height: 756px;}
html:fullscreen #main{min-height: 756px;}

.bBox>p {
  font-family: 'Allerta Stencil', sans-serif;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 10%;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  background: black;
  transition: opacity 0.5s;
  transition-timing-function: linear;
}

.bBox>p:hover {
  opacity: 0;
}

.bBox {
  border: 4px solid #181a3d;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 31%;
  overflow: hidden;
  cursor: pointer;
  background: url('Assets/0(NoodleBar).jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

/* Special font classes */

.tech-font {
  font-family: 'Share Tech Mono', monospace;
  color: cyan;
}

/* Currently orientation does not work */

@media screen and (orientation: portrait) {
    body {
      font-size: 2.5em;
    }

    #main {
      background-size: cover;
      background-position: center;
    }

    #para {
      overflow: scroll;
      max-height: none;
    }

    #bannerDiv > #fullscreen {
      display: none;
    }

    #bannerDiv > #exitFullscreen {
      display: none;
    }

    .bBox {
      height: auto;
    }

    .bBox > img {
      display: none;
    }

    .bBox > p {
      height: 100%;
      padding-bottom: 1.5em;
    }
}

.bContainer {
  display: inline-block;
  width: 92%;
}

.pText {
  background: rgba(0,0,0,0.9);
  border: 4px solid #181a3d;
  border-radius: 5px;
  cursor: default;
  color:#ceb600;
  display: inline-block;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  max-height: 650px;
  overflow: auto;
  padding: 6px;
  text-align: left;
}

.disclaimer {
  color: white;
  margin-bottom: 3%;
  border-top: solid white 2px;
  border-bottom: solid white 1px;
  display: block;
  padding: 0.5em;
  background: rgba(0,0,0,0.6);
}

.tip {
  color: white;
  cursor: help;
}

#tooltip{
  position: absolute;
  background: black;
  color: white;
  max-width: 200px;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 8px;
  border: solid white 3px;
  border-radius: 5px;
  padding: 2px;
  z-index: 1;
}

#bannerDiv {
  overflow: hidden;
  width: 100%;
  height: 2.5em;
  border-top: solid white 3px;
  border-bottom: solid white 1px;
  padding: 0;
  background: #010323;
}

#bannerDiv > p:hover {
  color: yellow;
  border-top: solid yellow 5px;
}

#bannerDiv > p {
  font-family: 'Allerta Stencil', sans-serif;
  margin: 0.5em 0 0 0.5em;
  color: white;
  border-top: solid white 5px;
  display: inline-block;
  cursor: pointer;
  float: left;
}

html:-moz-full-screen #bannerDiv > #exitFullscreen{display: inline-block;}
html:-webkit-full-screen #bannerDiv > #exitFullscreen{display: inline-block;}
html:fullscreen #bannerDiv > #exitFullscreen{display: inline-block;}

#bannerDiv > #exitFullscreen{display:none;}

html:-moz-full-screen #fullscreen{display: none;}
html:-webkit-full-screen #fullscreen{display: none;}
html:fullscreen #fullscreen{display: none;}

/* Styling for various puzzles */

#hacker-input {
  margin-left: 20%;
  width: 60%;
  display: block;
  background: black;
  color: white;
  border: white solid 2px;
  font-family: 'Share Tech Mono', monospace;
}

#hacker-input-processed {
  color: white;
  font-family: 'Share Tech Mono', monospace;
}
